ul.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }
  ul.sidebar-nav li {
    border-left: 5px solid #131313;
    text-indent: 10px;
    line-height: 30px;
    font-size: 1.1em; }
    ul.sidebar-nav li a span {
      padding-left: 10px; }
    ul.sidebar-nav li.menu-compact {
      position: fixed;
      bottom: 0;
      border-left: 5px solid #4aff6c !important; }
      ul.sidebar-nav li.menu-compact:hover a {
        background-color: inherit !important;
        color: white !important; }
    ul.sidebar-nav li.activo {
      border-left: 5px solid #4a6cff; }
    ul.sidebar-nav li a {
      display: block;
      text-decoration: none;
      color: white; }
      ul.sidebar-nav li a:hover {
        text-decoration: none;
        color: #4a61ff;
        background: white;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
      ul.sidebar-nav li a .sidebar-brand {
        height: 45px;
        font-size: 18px;
        line-height: 70px; }
        ul.sidebar-nav li a .sidebar-brand a {
          color: #999999; }
          ul.sidebar-nav li a .sidebar-brand a:hover {
            color: #fff;
            background: none; }

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  #wrapper.toggled {
    padding-left: 250px; }
    #wrapper.toggled #sidebar-wrapper {
      width: 250px; }
      #wrapper.toggled #sidebar-wrapper.compact {
        width: 70px; }
  #wrapper.compact #sidebar-wrapper {
    width: 70px;
    left: 70px;
    margin-left: -70px; }
  #wrapper.compact .sidebar-nav {
    width: 70px; }
    #wrapper.compact .sidebar-nav li a span {
      display: none; }

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  float: left;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  background-color: #fafafa; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px; }
    #wrapper.compact {
      padding-left: 70px; }

  #wrapper.toggled {
    padding-left: 0; }

  #sidebar-wrapper {
    width: 250px; }

  #wrapper.toggled #sidebar-wrapper {
    width: 0; }

  #page-content-wrapper {
    padding: 20px;
    position: relative; }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-left: 0; } }