.justified
{
	text-align: justify;
}
.uppercase
{
	text-transform: uppercase;
}
.btn-small
{ 
	display: inline-block;
	height: 3em !important;
	font-size: 0.8em; 
	line-height: 0px;
	padding: 0 1rem !important;
}

.avatar
{
	max-width: 32px;
}

.lg-avatar
{
	margin-top: 3px;
	margin-left: 3px;
	max-width: 48px;
}
.big-avatar
{
	max-width: 64px;
}


.big-hover
{
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.big-hover:hover
{
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

#fab-btn
{
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}

#brand-logo
{
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
#brand-logo:hover
{
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.bottom
{
	bottom: auto !important;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}