.justified
{
	text-align: justify;
}
.uppercase
{
	text-transform: uppercase;
}
.btn-small
{
	display: inline-block;
	height: 3em !important;
	font-size: 0.8em;
	line-height: 0px;
	padding: 0 1rem !important;
}

.avatar
{
	max-width: 32px;
	max-height: 32px;
}

.lg-avatar
{
	margin-top: 3px;
	margin-left: 3px;
	max-width: 48px;
	max-height: 48px;
}
.big-avatar
{
	max-width: 64px;
}


.big-hover
{
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.big-hover:hover
{
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

#fab-btn
{
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}

#brand-logo
{
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
#brand-logo:hover
{
	animation-name: logo;
    animation-duration: 1s;
	animation-timing-function: ease-in-out;;
	animation-fill-mode: forwards;
}
@keyframes logo {
	0% {width: 120px;}
	50% {width: 140px; -webkit-transform:rotateZ(-10deg);
		-ms-transform:  rotateZ(-10deg);
		-o-transform:  rotateZ(-10deg);
		transform:  rotateZ(-10deg); }
		100% {width: 120px;}

	}
.giant{
	animation-name: giant;
    animation-duration: 1s;
	animation-timing-function: ease-in-out;;
	animation-fill-mode: forwards;
}
@keyframes giant {
    0% {width: 120px;}
    50% {width: 460px; margin-top:33%; }
    100% {width: 120px;}

}

.bottom
{
	bottom: auto !important;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}


.chat-container{
	width: 330px;
	position: fixed;
	left: 5%;
	bottom: -2%;
	z-index: 100;
	transition: 1s;
}

.title-chat{
 cursor:pointer;
}


hr.simple {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.badge1 {
   position:relative;
}
.badge1[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:10px;
   right:-10px;
   font-size:.7em;
   background:red;
   color:white;
   width:18px;
   height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}

.badge{
	font-weight: 300;
    font-size: 0.8rem;
    color: #fff !important;
    background-color: #009688;
    border-radius: 2px;
	padding-left: 4px;
	padding-right: 4px;
}
